# This file is part of Edgehog.
#
# Copyright 2022 SECO Mind Srl
#
# SPDX-License-Identifier: CC0-1.0

[package]
name = "hardware-id-service"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1", features = ["full"] }
zbus = { version = "2", default-features = false, features = ["tokio"] }
uuid = {version="0.8.2", features = ["v5", "v4"] }
base64 = "0.13.0"
clap = { version = "3.2.5", features = ["derive"] }
procfs = "0.12.0"
