# This file is part of Edgehog.
#
# Copyright 2022 SECO Mind Srl
#
# SPDX-License-Identifier: CC0-1.0


[package]
name = "edgehog-device-runtime"
version = "0.1.0"
edition = "2021"
homepage = "https://github.com/edgehog-device-manager/edgehog-device-runtime"
default-run = "edgehog-device-runtime"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror = "1.0.31"
astarte_sdk = {git ="https://github.com/astarte-platform/astarte-device-sdk-rust.git" }
log = "0.4"
env_logger = "0.9.0"
clap = { version = "3.2.22", features = ["derive"] }
tokio = { version = "1", features = ["full"] }
serde = "1.0.139"
serde_json = "1.0"
procfs = "0.14.1"
rustc_version_runtime = "0.2"
zbus = { version = "2", default-features = false, features = ["tokio"] }
reqwest = "0.11.11"
toml = "0.5.9"
uuid = {version="0.8.2", features = ["v5", "v4"] }
systemd = { version = "0.10", optional = true }
async-trait = "0.1.56"
sysinfo = "0.24.6"
udev = "0.6.3"
wifiscanner = "0.5.*"

[dev-dependencies]
mockall = "0.11.2"

[features]
e2e_test = []

[[bin]]
name = "e2e-test"
required-features = ["e2e_test"]
path = "src/e2e_test/e2e_test.rs"
