# This file is part of Edgehog.
#
# Copyright 2022 SECO Mind Srl
#
# SPDX-License-Identifier: CC0-1.0


[package]
name = "edgehog-device-runtime"
version = "0.1.0"
edition = "2021"
homepage = "https://github.com/edgehog-device-manager/edgehog-device-runtime"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
nix = "0.23.1"
thiserror = "1.0.30"
astarte_sdk = {git ="https://github.com/astarte-platform/astarte-device-sdk-rust.git" }
log = "0.4"
env_logger = "0.9.0"
clap = { version = "3.0.13", features = ["derive"] }
tokio = { version = "1", features = ["full"] }
serde = "1.0.136"
procfs = "0.12.0"
rustc_version_runtime = "0.1"
