# This file is part of Astarte.
#
# Copyright 2024 - 2025 SECO Mind Srl
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

name: coverage
on:
  workflow_run:
    workflows: ["ci"]
    types: [completed]
permissions:
  contents: read
  actions: read
defaults:
  run:
    shell: bash
jobs:
  upload:
    runs-on: ubuntu-24.04
    # Run only if originated from a PR
    if: ${{ github.event.workflow_run.event == 'pull_request' && github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
      # Checkout codecov.yaml config from master
      - uses: actions/checkout@v5
        with:
          path: master
          sparse-checkout: |
            .github/codecov.yaml
          sparse-checkout-cone-mode: false
      - name: Download coverage artifact
        uses: actions/download-artifact@v5
        with:
          name: coverage
          github-token: ${{ github.token }}
          run-id: ${{ github.event.workflow_run.id }}
      - name: Get PR number
        run: |
          echo "PR_NUMBER=$(cat ./pr_number)" >> "$GITHUB_ENV"
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v5
        with:
          codecov_yml_path: master/.github/codecov.yaml
          token: ${{secrets.CODECOV_TOKEN}}
          fail_ci_if_error: true
          override_branch: ${{ github.event.workflow_run.head_branch }}
          override_commit: ${{ github.event.workflow_run.head_sha }}
          override_pr: ${{ env.PR_NUMBER }}
